In [12]:
"""
Autor: Luan Felix
RA: 082220003
Data: 09/03/2025

Questão 1:

(a) - O conjunto de dados ml-latest-small contém classificações de filmes (de 1 a 5 estrelas) e etiquetas de texto livre do MovieLens, um serviço de recomendação de filmes.
Ele inclui 100.836 classificações e 3.683 etiquetas aplicadas a 9.742 filmes por 610 usuários, entre 29/03/1996 e 24/09/2018. Apenas usuários que avaliaram pelo menos 20 filmes foram incluídos, sem informações demográficas.
Os dados estão distribuídos nos arquivos:
* links.csv
* movies.csv
* ratings.csv
* tags.csv
O dataset foi gerado em 26/09/2018.

(b) - O que cada linha de cada arquivo representa:
links.csv   - relaciona o filme com as empresas de rankings;
movies.csv  - representa cada filme;
ratings.csv - apresenta a relação da avaliação do usuário com o filme;
tags.csv    - relação das tags aplicadas ao filme pelo usuário.


(c)
links.csv
- movieId - int
- imdbId  - int
- tmdbId  - int

movies.csv
- movieId - int
- title   - string
- genres  - string

ratings.csv
- userId     - int
- movieId    - int
- rating     - float
- timestamp  - int

tags.csv
- userId     - int
- movieId    - int
- tag        - string
- timestamp  - int

Questão 2:

Problemas identificados:

(1) Colunas com dados faltantes:
    No dataset links, a coluna "tmdbId" possui 8 valores ausentes.

(2) Conversão de tipos:
    No dataset links, a coluna "tmdbId" está como float, mas representa um id e deveria ser int.

(3) Timestamp sem conversão:
    Nos datasets ratings e tags, a coluna timestamp está no formato int.

"""

'\nAutor: Luan Felix\nRA: 082220003\nData: 09/03/2025\n\nQuestão 1:\n\n(a) - O conjunto de dados ml-latest-small contém classificações de filmes (de 1 a 5 estrelas) e etiquetas de texto livre do MovieLens, um serviço de recomendação de filmes.\nEle inclui 100.836 classificações e 3.683 etiquetas aplicadas a 9.742 filmes por 610 usuários, entre 29/03/1996 e 24/09/2018. Apenas usuários que avaliaram pelo menos 20 filmes foram incluídos, sem informações demográficas.\nOs dados estão distribuídos nos arquivos:\n* links.csv\n* movies.csv\n* ratings.csv\n* tags.csv\nO dataset foi gerado em 26/09/2018.\n\n(b) - O que cada linha de cada arquivo representa:\nlinks.csv   - relaciona o filme com as empresas de rankings;\nmovies.csv  - representa cada filme;\nratings.csv - apresenta a relação da avaliação do usuário com o filme;\ntags.csv    - relação das tags aplicadas ao filme pelo usuário.\n\n\n(c)\nlinks.csv\n- movieId - int\n- imdbId  - int\n- tmdbId  - int\n\nmovies.csv\n- movieId - int\n- title   - string\n- genres  - string\n\nratings.csv\n- userId     - int\n- movieId    - int\n- rating     - float\n- timestamp  - int\n\ntags.csv\n- userId     - int\n- movieId    - int\n- tag        - string\n- timestamp  - int\n\nQuestão 2:\n\nProblemas identificados:\n\n(1) Colunas com dados faltantes:\n    No dataset links, a coluna "tmdbId" possui 8 valores ausentes.\n\n(2) Conversão de tipos:\n    No dataset links, a coluna "tmdbId" está como float, mas representa um id e deveria ser int.\n\n(3) Timestamp sem conversão:\n    Nos datasets ratings e tags, a coluna timestamp está no formato int.\n\n'

In [11]:
import pandas as pd

files = {
    "links": "/content/links.csv",
    "movies": "/content/movies.csv",
    "ratings": "/content/ratings.csv",
    "tags": "/content/tags.csv",
}

dfs = {name: pd.read_csv(path) for name, path in files.items()}

print('Verificar informações básicas e estatísticas de cada dataset')
info_dict = {name: df.info() for name, df in dfs.items()}
summary_dict = {name: df.describe(include="all") for name, df in dfs.items()}

Verificar informações básicas e estatísticas de cada dataset
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9742 non-null   int64
 1   imdbId   9742 non-null   int64
 2   tmdbId   9734 non-null   float64
dtypes: float64(1), int64(2)
memory usage: 228.5 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9742 non-null   int64
 1   title    9742 non-null   object
 2   genres   9742 non-null   object
dtypes: int64(1), object(2)
memory usage: 228.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100836 non-null  int64
 1   movieId    100836 non-null  int64
 2   rating     100836 non-null  float64
 3   timestamp  100836 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3683 entries, 0 to 3682
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   userId     3683 non-null   int64
 1   movieId    3683 non-null   int64
 2   tag        3683 non-null   object
 3   timestamp  3683 non-null   int64
dtypes: int64(3), object(1)
memory usage: 115.2+ KB

In [13]:
print('Verificar dados ausentes')
missing_values = {name: df.isnull().sum() for name, df in dfs.items()}
print(missing_values)

Verificar dados ausentes
{'links': movieId    0
imdbId     0
tmdbId     8
dtype: int64, 'movies': movieId    0
title      0
genres     0
dtype: int64, 'ratings': userId       0
movieId      0
rating       0
timestamp    0
dtype: int64, 'tags': userId       0
movieId      0
tag          0
timestamp    0
dtype: int64}

In [14]:
print('Exibir amostras dos dados')
samples = {name: df.head() for name, df in dfs.items()}
print(samples, missing_values)

Exibir amostras dos dados
{'links':    movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0, 'movies':    movieId                               title  \
0        1                    Toy Story (1995)
1        2                      Jumanji (1995)
2        3             Grumpier Old Men (1995)
3        4            Waiting to Exhale (1995)
4        5  Father of the Bride Part II (1995)

                                        genres
0  Adventure|Animation|Children|Comedy|Fantasy
1                   Adventure|Children|Fantasy
2                               Comedy|Romance
3                         Comedy|Drama|Romance
4                                       Comedy  , 'ratings':    userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931, 'tags':    userId  movieId              tag   timestamp
0       2    60756            funny  1445714994
1       2    60756  Highly quotable  1445714996
2       2    60756     will ferrell  1445714992
3       2    89774     Boxing story  1445715207
4       2    89774              MMA  1445715200} {'links': movieId    0
imdbId     0
tmdbId     8
dtype: int64, 'movies': movieId    0
title      0
genres     0
dtype: int64, 'ratings': userId       0
movieId      0
rating       0
timestamp    0
dtype: int64, 'tags': userId       0
movieId      0
tag          0
timestamp    0
dtype: int64}

In [18]:
# Corrigir valores ausentes em 'tmdbId'
dfs["links"]["tmdbId"] = dfs["links"]["tmdbId"].fillna(-1).astype("int64")

# Converter 'timestamp' para datetime nos datasets 'ratings' e 'tags'
dfs["ratings"]["timestamp"] = pd.to_datetime(dfs["ratings"]["timestamp"], unit='s')
dfs["tags"]["timestamp"] = pd.to_datetime(dfs["tags"]["timestamp"], unit='s')

In [21]:
# Verificar se as correções foram aplicadas corretamente
dfs["links"].info(), dfs["ratings"].head(), dfs["tags"].head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9742 non-null   int64
 1   imdbId   9742 non-null   int64
 2   tmdbId   9742 non-null   int64
dtypes: int64(3)
memory usage: 228.5 KB

(None,
    userId  movieId  rating           timestamp
 0       1        1     4.0 2000-07-30 18:45:03
 1       1        3     4.0 2000-07-30 18:20:47
 2       1        6     4.0 2000-07-30 18:37:04
 3       1       47     5.0 2000-07-30 19:03:35
 4       1       50     5.0 2000-07-30 18:48:51,
    userId  movieId              tag           timestamp
 0       2    60756            funny 2015-10-24 19:29:54
 1       2    60756  Highly quotable 2015-10-24 19:29:56
 2       2    60756     will ferrell 2015-10-24 19:29:52
 3       2    89774     Boxing story 2015-10-24 19:33:27
 4       2    89774              MMA 2015-10-24 19:33:20)